body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #FFCD48; 
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .Title2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .barra-de-busqueda {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .pet {
    text-align: start;
  }
  
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  button {
    background-color: #4CAF50; 
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
  }
  
  .section_1 { 
     border-style: ridge;
     border-color: black;
      color: black ;
  }
  .section_2 {
      border-style: ridge;
      border-color: black;
      color: black;

  }
  
  @media (max-width: 768px) {
    section {
      grid-template-columns: 1fr;
    }
  }
  p { 
      text-align: center;
  }
 .refujios {
      text-decoration: blanchedalmond;
      text-align: center;
      border-style: double;
      border-color:blue;
 }
